@media screen and (min-width: 1921px) and (orientation: landscape) {
    body{
        background: #FF0000;
        width: 100%;
        overflow-x: hidden;
    }
    
    
    
    .op {
    font-family: "eroticascriptctwo";
    font-size: 970px;
    color: rgb(255, 255, 255);
    }
    
    
    .lol{
        width: 200%;
        position: absolute;
        margin-top: -12%;
        margin-left: -10%;
    }
    
    .lol2 {
        position: absolute;
        margin-left: 35%;
        margin-top: 3%;
        width: 29%;
    }
    
    
    
    .nail1 {
        position: absolute;
        margin-top: -20%;
        margin-left: 50%;
        animation: nail1 8s linear infinite;
    
    }
    
    @keyframes nail1 {
        0%{top: 0%;}
        100% {top:120%}
        
    }
    
    
    
    .nail2 {
        position: absolute;
        margin-top: -30%;
        margin-left: 60%;
        animation: nail2 12s linear infinite;
    }
    @keyframes nail2 {
        0%{top: 0%;}
        100% {top:120%}
        
    }
    
    
    
    
    .nail3 {
        position: absolute;
        margin-top: -30%;
        margin-left: 88%;
        animation: nail3 20s linear infinite;
    }
    @keyframes nail3 {
        0%{top: 0%;}
        100% {top:120%}
        
    }
    
    
    
    .nail4 {
        position: absolute;
        margin-top: -25%;
        margin-left: 70%;
        animation: nail4 8s linear infinite;
    }
    
    @keyframes nail4 {
        0%{top: 0%;}
        100% {top:120%}
        
    }
    
    
    
    .nail5 {
        position: absolute;
        margin-top: -26%;
        margin-left: -1%;
        animation: nail5 15s linear infinite;
    }
    
    @keyframes nail5 {
        0%{top: 0%;}
        100% {top:120%}
        
    }
    
    
    
    .nail6 {
        position: absolute;
        margin-top: -35%;
        margin-left: 2%;
        animation: nail6 25s linear infinite;
    }
    
    @keyframes nail6 {
        0%{top: 0%;}
        100% {top:120%}
        
    }
    
    
    
    .nail7 {
        position: absolute;
        margin-top: -22%;
        margin-left: 22%;
        animation: nail7 12s linear infinite;
    }
    
    @keyframes nail7 {
        0%{top: 0%;}
        100% {top:120%}
        
    }
    
    
    
    .nail8 {
        position: absolute;
        margin-top: -25%;
        margin-left: 200%;
        animation: nail1 30s linear infinite;
    }
    
    @keyframes nail8 {
        0%{top: 0%;}
        100% {top:120%}
        
    }
    
    
    
    .updiv {
        width: 8%;
        height: 4%;
        position: absolute;
        margin-top: 1%;
        margin-left: 45.5%;
        background-color: rgb(255, 255, 255);
        border-radius: 30px;
    }
    
    .up{
        font-family:"MazzardM";
        font-size: 34px;
        color: black;
        margin-left: 28%;
        margin-top: 5%;
    }
    
    .textsel1 {
        width: 100%;
        height: 70%;
        position: absolute;
    }
    
    .up2{
        font-family:"MazzardM";
        font-size: 40px;
        color: rgb(255, 255, 255);
        margin-left: 6%;
        margin-top: 7%;
    }
    
    .up3{
        font-family:"MazzardM";
        font-size: 40px;
        color: rgb(255, 255, 255);
        margin-left: 62%;
        margin-top: -5%;
    }
    
    .up4{
        font-family:"MazzardM";
        font-size: 40px;
        color: rgb(255, 255, 255);
        margin-left: 8%;
        margin-top: 10%;
    }
    
    .up5{
        font-family:"MazzardM";
        font-size: 40px;
        color: rgb(255, 255, 255);
        margin-left: 22%;
        margin-top: 2%;
    }
    
    .up6{
        font-family:"MazzardM";
        font-size: 40px;
        color: rgb(255, 255, 255);
        margin-left: 60%;
        margin-top: -2%;
    }
    
    .tresh1 {
        width: 20%;
        height: 20%;
        position: absolute;
       /* margin-top: 25.6%;/=*/
        margin-left: 30%;
    
    }
    
    .ch1{
        margin-top: 2%;
        position: absolute;
    }
    .ch2{
        margin-top: 2%;
        position: absolute;
        z-index: 0;
    }
    
    .ch2:hover{
        opacity: 0;
    }
    
    
    .tresh2 {
        width: 20%;
        height: 20%;
        position: absolute;
       /* margin-top: 21.3%;*/
        margin-left: 10%;
        margin-top: -3.8%;
    }
    
    .ch12{
    
        position: absolute;
    }
    .ch22{
        position: absolute;
        z-index: 0;
    }
    
    .ch22:hover{
        opacity: 0;
    }
    
    .tresh3 {
        width: 20%;
        height: 20%;
        position: absolute;
       /* margin-top: 22%;*/
        margin-left: -1%;
        margin-top: -3.5%;
    
    }
    
    .ch13{
        position: absolute;
    }
    .ch23{
        position: absolute;
        z-index: 0;
    }
    
    .ch23:hover{
        opacity: 0;
    }
    
    .tresh4 {
        width: 20%;
        height: 20%;
        position: absolute;
       /* margin-top: 25%;*/
        margin-left: -25%;
    
    }
    
    .ch14{
        position: absolute;
    }
    .ch24{
        position: absolute;
        z-index: 0;
    }
    
    .ch24:hover{
        opacity: 0;
    }
    
    .tresh5 {
        width: 20%;
        height: 20%;
        position: absolute;
       /* margin-top: 23.8%;*/
        margin-left: 50%;
    
    }
    
    .ch15{
        margin-top: -6%;
        position: absolute;
    }
    .ch25{
        margin-top: -6%;
        position: absolute;
        z-index: 0;
    }
    
    .ch25:hover{
        opacity: 0;
    }
    
    .tresh6 {
        width: 20%;
        height: 20%;
        position: absolute;
       /* margin-top: 18.7%;*/
        margin-left: 60%;
        margin-top: -6.3%;
    
    }
    
    .ch16{
        position: absolute;
    }
    .ch26{
        position: absolute;
        z-index: 0;
    }
    
    .ch26:hover{
        opacity: 0;
    }
    
    .tresh7 {
        width: 20%;
        height: 20%;
        position: absolute;
        /*margin-top: 22%;*/
        margin-left: 90%;
        margin-top: -3%;
    
    }
    
    .ch17{
        position: absolute;
    }
    .ch27{
        position: absolute;
        z-index: 0;
    }
    
    .ch27:hover{
        opacity: 0;
    }
    
    .sec1{
        width: 100%;
        height: 50%;
       position: absolute;
       margin-top: 25%;
       animation: sec11 infinite linear 5s;
    
    }
    
    @keyframes sec11{
        0% {transform:translate(0%)}
        100% {transform:translate(-20%)}
    }
    
    
    
    
    
    .opop{
        width: 100%;
        height: 5.7%;
        position: absolute;
        margin-top: 48%;
        overflow: hidden;
      text-overflow: ellipsis;
    }
    
    .cemestry {
        font-family:"MazzardM";
        font-size: 64px;
        color: rgb(255, 255, 255);
        white-space: nowrap;
        text-transform: uppercase;
    }
    
    .cemestry {
        animation: run 10s linear infinite;
     }
    
     @keyframes run {
        from {
           transform: translateX(0%);
        }
        to {
           transform: translateX(-200%);
        }
    }
    
    .sec2{
    width:70%;
    height: 50%;
    background: #000000;
    margin-top: 53.3%;
    position: absolute;
    animation: sec22 infinite linear 5s;
    
    }
    
    @keyframes sec22{
        0% {transform:translate(0%)}
        100% {transform:translate(-30%)}
    
    }
    
    .sec2:hover {
        animation-play-state: paused;
      }
    
    
    .grob1{
        position: absolute;
        margin-top: 8%;
        margin-left: -5%;
    }
    
    .grob1:hover{
        transform: scale(1.3);
        transition: all 1s ease;
    }
    
    .grob2{
        position: absolute;
        margin-top: 8%;
        margin-left: 3%;
    }
    
    .grob2:hover{
        transform: scale(1.3);
        transition: all 1s ease;
    }
    
    .grob3{
        position: absolute;
        margin-top: 8%;
        margin-left: 11%;
    }
    
    .grob3:hover{
        transform: scale(1.3);
        transition: all 1s ease;
    }
    
    .grob4{
        position: absolute;
        margin-top: 8%;
        margin-left: 19%;
    }
    
    .grob4:hover{
        transform: scale(1.3);
        transition: all 1s ease;
    }
    
    .grob5{
        position: absolute;
        margin-top: 8%;
        margin-left: 27%;
    }
    
    .grob5:hover{
        transform: scale(1.3);
        transition: all 1s ease;
    }
    
    .grob6{
        position: absolute;
        margin-top: 8%;
        margin-left: 35%;
    }
    
    .grob6:hover{
        transform: scale(1.3);
        transition: all 1s ease;
    }
    
    .grob7{
        position: absolute;
        margin-top: 8%;
        margin-left: 43%;
    }
    
    .grob7:hover{
        transform: scale(1.3);
        transition: all 1s ease;
    }
    
    .grob8{
        position: absolute;
        margin-top: 8%;
        margin-left: 51%;
    }
    
    .grob8:hover{
        transform: scale(1.3);
        transition: all 1s ease;
    }
    
    .grob9{
        position: absolute;
        margin-top: 8%;
        margin-left: 59%;
    }
    
    .grob9:hover{
        transform: scale(1.3);
        transition: all 1s ease;
    }
    
    .grob10{
        position: absolute;
        margin-top: 8%;
        margin-left: 67%;
    }
    
    .grob10:hover{
        transform: scale(1.3);
        transition: all 1s ease;
    }
    
    .grob11{
        position: absolute;
        margin-top: 8%;
        margin-left: 75%;
    }
    
    .grob11:hover{
        transform: scale(1.3);
        transition: all 1s ease;
    }
    
    .grob12{
        position: absolute;
        margin-top: 8%;
        margin-left: 83%;
    }
    
    .grob12:hover{
        transform: scale(1.3);
        transition: all 1s ease;
    }
    
    
    .grob13{
        position: absolute;
        margin-top: 8%;
        margin-left: 92%;
    }
    
    .grob13:hover{
        transform: scale(1.3);
        transition: all 1s ease;
    }
    
    .grob14{
        position: absolute;
        margin-top: 8%;
        margin-left: 100%;
    }
    
    .grob14:hover{
        transform: scale(1.3);
        transition: all 1s ease;
    }
    .grob15{
        position: absolute;
        margin-top: 8%;
        margin-left: 108%;
    }
    
    .grob15:hover{
        transform: scale(1.3);
        transition: all 1s ease;
    }
    
    
    
    
    
    
    
    .kish1{
        width: 85%;
        position: absolute;
        z-index: 1;
    }
    
    .kish2{
        width: 85%;
        position: absolute;
        z-index: 2;
    }
    
    .kish2:hover{
        opacity: 0;
    }
    
    .fly1{
        width: 50%;
        position: absolute;
        margin-top: -20%;
        z-index: 3;
        animation: bybyby 10s infinite;
    }
    @keyframes bybyby{
    
            0%{transform: translateX(6vw); rotate: 0deg ;}
            10%{transform: translateX(10vw); rotate: 15deg ;}
            20%{transform: translateY(12vw); rotate: 30deg ;}
            35%{transform: translateX(20vw); rotate: 60deg;}
            45%{transform: translateX(10vw); rotate: 70deg ;}
            75%{transform: translateY(-30vw); rotate: 80deg ;}
            90%{transform: translateX(10vw); rotate: 70deg ;}
            100%{transform: translateX(10vw); rotate: 90deg;}
        
    }
    
    .sec3{
        width: 58%;
        height: 50%;
        
        position: absolute;
        margin-top: 53.3%;
        margin-left: 47%;
        overflow: hidden;
    }
    
    .svetla{
        height: 50%;
        width: 20%;
        background: #000000;
        position: absolute;
        margin-top: 53%;
        margin-left: 85%;
        overflow: hidden;
        text-overflow: ellipsis;
    
    }
    
    
    .text1{
        font-family:"MazzardM";
        font-size: 64px;
        color: rgb(255, 255, 255);
        white-space: nowrap;
    }
    
    .text1 {
        animation: run1 2s linear infinite;
     }
    
     @keyframes run1 {
        from {
           transform: translateX(0%);
        }
        to {
           transform: translateX(-200%);
        }
    }
    
    .eb{
        
        transform: rotate(90deg);
        margin-left: 30%;
    
    }
    .sec4{
        height: 65%;
        width: 25%;
        position: absolute;
        margin-top: 102%;
       margin-left: -5%;
        background: #ffffff;
        animation: flw 2s steps(1) infinite; 
    } 
    .sec4 img{ 
        width: 800%; 
    } 
    @keyframes flw { 
        0%{transform: translateX(0vw);} 
        20%{transform: translateX(-32.3vw);} 
        40%{transform: translateX(-64.6vw);} 
        60%{transform: translateX(-96.9vw);} 
        80%{transform: translateX(-128.2vw);} 
        100%{transform: translateX(-160.5vw);} 
    }
    
    
    
    .srift{
        height: 62%;
        width: 55%;
        position: relative;
        margin-top: 20%;
        margin-left: 22%;
    }
    
    
    .treshs{
        width: 100%;
        height: 50%;
        background: #000000;
        position: absolute;
        margin-top: 78.2%;
        overflow: hidden;
    }
    
    
    
    .stuk1{
        width: 10%;
        position: absolute;
        z-index: 1;
    }
    
    .stuk2{
        position: absolute;
        margin-top: 5%;
        margin-left: 70%;
        z-index: 2;
    }
    .stuk3{
        position: absolute;
        margin-top: 5%;
        margin-left: 85%;
        z-index: 3;
    }
    
    .stuk4{
        width: 30%;
        position: absolute;
        margin-top: 5%;
        z-index: 4;
    }
    
    .stuk5{
        width: 30%;
        position: absolute;
        margin-top: 5%;
        margin-left: 40%;
        z-index: 5;
    }
    
    .stuk6{
        width: 20%;
        position: absolute;
        margin-top: -20%;
        margin-left: 5%;
        z-index: 6;
        animation: stuk6 5s linear infinite;
    }
    @keyframes stuk6 {
        0%{top: 0%;}
        100% {top:200%}
        
    }
    
    .stuk7{
        width: 30%;
        position: absolute;
        margin-top: -20%;
        margin-left: 25%;
        z-index: 7;
        animation: stuk7 20s linear infinite;
    }
    @keyframes stuk7 {
        0%{top: 0%;}
        100% {top:200%}
        
    }
    .stuk8{
        width: 30%;
        position: absolute;
        margin-top: -20%;
        margin-left: 15%;
        z-index: 8;
        animation: stuk8 15s linear infinite;
    }
    @keyframes stuk8 {
        0%{top: 0%;}
        100% {top:200%}
        
    }
    
    .stuk9{
        width: 30%;
        position: absolute;
        margin-top: -20%;
        margin-left: 70%;
        z-index: 9;
        animation: stuk8 15s linear infinite;
    }
    @keyframes stuk9 {
        0%{top: 0%;}
        100% {top:200%}
        
    }
    
    
    .stuk10{
        position: absolute;
        margin-top: 19%;
        margin-left: 5%;
        z-index: 10;
    }
    
    .stuk11{
        position: absolute;
        margin-top: 14%;
        margin-left: 65%;
        z-index: 11;
    }
    
    
    .stuk12{
        width: 30%;
        position: absolute;
        margin-top: 10%;
        margin-left: 70%;
        z-index: 11;
    }
    
    
    
    
    
        .sec5{
            height: 65%;
            width: 35%;
            position: absolute;
            margin-top: 103%;
           margin-left: 25%;
           background: #000000;
           overflow: hidden;
        }
    
    .top1{
        width: 50%;
        height: 8%;
        background: #FF0000;
        position: absolute;
        border-radius: 40px;
        margin-top: -2%;
        margin-left: 20%;
        animation: one 3s infinite cubic-bezier(0.5,0,0.5,1);
    }
    
    @keyframes one {
      0%, 5% {
        transform: translate(-5em);
      }
      45%, 55% {
        transform: translate(5em);
      }
      95%, 100% {
        transform: translate(-5em);
      }
    }
    
    
    .top2{
        width: 70%;
        height: 8%;
        background: #FF0000;
        position: absolute;
        border-radius: 40px;
        margin-top: 5.4%;
        margin-left: 5%;
        animation: two 1s infinite cubic-bezier(0.5,0,0.5,1);
    }
    
    @keyframes two {
      0%, 5% {
        transform: translate(-10em);
      }
      45%, 55% {
        transform: translate(10em);
      }
      95%, 100% {
        transform: translate(-10em);
      }
    }
    
    .tt1{
        font-family:"MazzardM";
        font-size: 60px;
        color: rgb(255, 255, 255);
        margin-top: 4%;
        margin-left: 80%;
    }
    
    .top3{
        width: 50%;
        height: 8%;
        background: #FF0000;
        position: absolute;
        border-radius: 40px;
        margin-top: -0.2%;
        margin-left: -5%;
        animation: three 5s infinite cubic-bezier(0.5,0,0.5,1);
    }
    
    @keyframes three {
      0%, 5% {
        transform: translate(-10em);
      }
      45%, 55% {
        transform: translate(10em);
      }
      95%, 100% {
        transform: translate(-10em);
      }
    }
    .tt2{
        font-family:"MazzardM";
        font-size: 60px;
        color: rgb(255, 255, 255);
        margin-top: -1%;
        margin-left: 50%;
    }
    
    .top4{
        width: 50%;
        height: 8%;
        background: #FF0000;
        position: absolute;
        border-radius: 40px;
        margin-top: -0.9%;
        margin-left: 60%;
        animation: four 1s infinite cubic-bezier(0.5,0,0.5,1);
    }
    
    @keyframes four {
      0%, 5% {
        transform: translate(-10em);
      }
      45%, 55% {
        transform: translate(10em);
      }
      95%, 100% {
        transform: translate(-10em);
      }
    }
    
    .tt3{
        font-family:"MazzardM";
        font-size: 60px;
        color: rgb(255, 255, 255);
        margin-top: -1%;
        margin-left: 1%;
    }
    
    .top5{
        width: 50%;
        height: 8%;
        background: #FF0000;
        position: absolute;
        border-radius: 40px;
        margin-top: -0.2%;
        margin-left: -5%;
    }
    
    .tt4{
        font-family:"MazzardM";
        font-size: 60px;
        color: rgb(255, 255, 255);
        margin-top: -2%;
        margin-left: 50%;
    }
    
    .top6{
        width: 50%;
        height: 9.5%;
        background: #FF0000;
        position: absolute;
        border-radius: 40px;
        margin-top: -9%;
        margin-left: 70%;
        animation: two 3s infinite cubic-bezier(0.5,0,0.5,1);
    }
    
    @keyframes two {
      0%, 5% {
        transform: translate(-10em);
      }
      45%, 55% {
        transform: translate(10em);
      }
      95%, 100% {
        transform: translate(-10em);
      }
    }
    .top7{
        width: 60%;
        height: 8%;
        background: #FF0000;
        position: absolute;
        border-radius: 40px;
        margin-top: -0.1%;
        margin-left: 10%;
        animation: five 8s infinite cubic-bezier(0.5,0,0.5,1);
    }
    
    @keyframes five {
      0%, 5% {
        transform: translate(-10em);
      }
      45%, 55% {
        transform: translate(10em);
      }
      95%, 100% {
        transform: translate(-10em);
      }
    }
    
    .tt5{
        font-family:"MazzardM";
        font-size: 60px;
        color: rgb(255, 255, 255);
        margin-top: 6%;
        margin-left: 1%;
    }
    
    .top8{
        width: 60%;
        height: 8%;
        background: #FF0000;
        position: absolute;
        border-radius: 40px;
        margin-top: 7%;
        margin-left: 30%;
        animation: six 1s infinite cubic-bezier(0.5,0,0.5,1);
    }
    
    @keyframes six {
      0%, 5% {
        transform: translate(-10em);
      }
      45%, 55% {
        transform: translate(10em);
      }
      95%, 100% {
        transform: translate(-10em);
      }
    }
    
    .top9{
        width: 50%;
        height: 8%;
        background: #FF0000;
        position: absolute;
        border-radius: 40px;
        margin-top: -1%;
        margin-left: -5%;
        animation: seven 3s infinite cubic-bezier(0.5,0,0.5,1);
    }
    
    @keyframes seven {
      0%, 5% {
        transform: translate(-10em);
      }
      45%, 55% {
        transform: translate(10em);
      }
      95%, 100% {
        transform: translate(-10em);
      }
    }
    
    .tt6{
        font-family:"MazzardM";
        font-size: 60px;
        color: rgb(255, 255, 255);
        margin-top: -1.5%;
        margin-left: 50%;
    }
    .top10{
        width: 50%;
        height: 8%;
        background: #FF0000;
        position: absolute;
        border-radius: 40px;
        margin-top: -1%;
        margin-left: -30%;
        animation: Eight 1s infinite cubic-bezier(0.5,0,0.5,1);
    }
    
    @keyframes Eight {
      0%, 5% {
        transform: translate(-10em);
      }
      45%, 55% {
        transform: translate(10em);
      }
      95%, 100% {
        transform: translate(-10em);
      }
    }
    .tt7{
        font-family:"MazzardM";
        font-size: 60px;
        color: rgb(255, 255, 255);
        margin-top: -2%;
        margin-left: 25%;
    }
    
    .top11{
        width: 50%;
        height: 8%;
        background: #FF0000;
        position: absolute;
        border-radius: 40px;
        margin-top: -7%;
        margin-left: 75%;
    }
    
    .tt8{
        font-family:"MazzardM";
        font-size: 60px;
        color: rgb(255, 255, 255);
        margin-top: -2%;
        margin-left: 1%;
    }
    
    .top12{
        width: 50%;
        height: 8.5%;
        background: #FF0000;
        position: absolute;
        border-radius: 40px;
        margin-top: -7%;
        margin-left: 65%;
        animation: nine 5s infinite cubic-bezier(0.5,0,0.5,1);
    }
    
    @keyframes nine {
      0%, 5% {
        transform: translate(-10em);
      }
      45%, 55% {
        transform: translate(10em);
      }
      95%, 100% {
        transform: translate(-10em);
      }
    }
    .top13{
        width: 70%;
        height: 8%;
        background: #FF0000;
        position: absolute;
        border-radius: 40px;
        margin-top: 1%;
        margin-left: -10%;
        animation: ten 5s infinite cubic-bezier(0.5,0,0.5,1);
    }
    
    @keyframes ten {
      0%, 5% {
        transform: translate(-15em);
      }
      45%, 55% {
        transform: translate(15em);
      }
      95%, 100% {
        transform: translate(-15em);
      }
    }
    
    .tt9{
        font-family:"MazzardM";
        font-size: 60px;
        color: rgb(255, 255, 255);
        margin-top: -0.5%;
        margin-left: 63%;
    }
    
    .top14{
        width: 50%;
        height: 8%;
        background: #FF0000;
        position: absolute;
        border-radius: 40px;
        margin-top: -0.2%;
        margin-left: -10%;
        animation: eleven 1s infinite cubic-bezier(0.5,0,0.5,1);
    }
    
    @keyframes eleven {
      0%, 5% {
        transform: translate(-10em);
      }
      45%, 55% {
        transform: translate(10em);
      }
      95%, 100% {
        transform: translate(-10em);
      }
    }
    .tt10{
        font-family:"MazzardM";
        font-size: 60px;
        color: rgb(255, 255, 255);
        margin-top: -0.9%;
        margin-left: 45%;
    }
    
    .top15{
        width: 50%;
        height: 8%;
        background: #FF0000;
        position: absolute;
        border-radius: 40px;
        margin-top: -9%;
        margin-left: 70%;
    }
    
    .top16{
        width: 70%;
        height: 9%;
        background: #FF0000;
        position: absolute;
        border-radius: 40px;
        margin-top: -2%;
        margin-left: 5%;
        animation: twelve 10s infinite cubic-bezier(0.5,0,0.5,1);
    }
    
    @keyframes twelve {
      0%, 5% {
        transform: translate(-10em);
      }
      45%, 55% {
        transform: translate(10em);
      }
      95%, 100% {
        transform: translate(-10em);
      }
    }
    
    .sec6{
        height: 65%;
        width: 40%;
        position: absolute;
        margin-top: 102.9%;
       margin-left: 60%;
       background: #000000;
       overflow: hidden;
    }
    
    .gif{
        width: 130%;
        height: 100%;
    }
    
    .sec7{
        width: 100%;
        height: 140%;
        background: #E4E4E4;
        position: absolute;
        margin-top: 130%;
        overflow: hidden;
    
    }
    
    .nail11 {
        position: absolute;
        margin-top: -26%;
        margin-left: -1%;
        animation: nail11 15s linear infinite;
    }
    
    @keyframes nail11 {
        0%{top: 0%;}
        100% {top:120%}
        
    }
    
    .nail21 {
        position: absolute;
        margin-top: -26%;
        margin-left: 30%;
        animation: nail21 5s linear infinite;
    }
    
    @keyframes nail21 {
        0%{top: 0%;}
        100% {top:120%}
        
    }
    
    .nail31 {
        position: absolute;
        margin-top: -36%;
        margin-left: -1%;
        animation: nail31 15s linear infinite;
    }
    
    @keyframes nail31 {
        0%{top: 0%;}
        100% {top:120%}
        
    }
    
    .nail41 {
        position: absolute;
        margin-top: -46%;
        margin-left: 70%;
        animation: nail41 5s linear infinite;
    }
    
    @keyframes nail41 {
        0%{top: 0%;}
        100% {top:120%}
        
    }
    
    .nail51 {
        position: absolute;
        margin-top: -36%;
        margin-left: 10%;
        animation: nail51 5s linear infinite;
    }
    
    @keyframes nail51 {
        0%{top: 0%;}
        100% {top:120%}
        
    }
    
    .nail61 {
        position: absolute;
        margin-top: -46%;
        margin-left: 50%;
        animation: nail61 8s linear infinite;
    }
    
    @keyframes nail61 {
        0%{top: 0%;}
        100% {top:120%}
        
    }
    
    .nail71 {
        position: absolute;
        margin-top: -46%;
        margin-left: 90%;
        animation: nail71 5s linear infinite;
    }
    
    @keyframes nail71 {
        0%{top: 0%;}
        100% {top:120%}
        
    }
    
    .pomni{
        font-family: "eroticascriptctwo";
    font-size: 350px;
    color: #FF0000;
    }
    
    .fifa{
        position: absolute;
        margin-left: -10%;
    }
    
    .vce{
        font-family: "eroticascriptctwo";
    font-size: 500px;
    color: #FF0000;
    }
    
    .fifa2{
        position: absolute;
        margin-left: 10%;
        margin-top: -10%;
    }
    
    
}


/* От 1441px до 1920px */
@media screen and (min-width: 1441px) and (max-width: 1920px) and (orientation: landscape) {
    body{
        background: #FF0000;
        width: 100%;
        overflow-x: hidden;
    }
    
    
    
    .op {
    font-family: "eroticascriptctwo";
    font-size: 360px;
    color: rgb(255, 255, 255);
    }
    
    
    .lol{
        position: absolute;
        margin-top: -12%;
        margin-left: -10%;
    }
    
    .lol2 {
        position: absolute;
        margin-left: 35%;
        margin-top: 3%;
        width: 29%;
    }
    
    
    
    .nail1 {
        width: 15%;
        position: absolute;
        margin-top: -20%;
        margin-left: 50%;
        animation: nail1 8s linear infinite;
    
    }
    
    @keyframes nail1 {
        0%{top: 0%;}
        100% {top:120%}
        
    }
    
    
    
    .nail2 {
        width: 15%;
        position: absolute;
        margin-top: -30%;
        margin-left: 60%;
        animation: nail2 12s linear infinite;
    }
    @keyframes nail2 {
        0%{top: 0%;}
        100% {top:120%}
        
    }
    
    
    
    
    .nail3 {
        width: 15%;
        position: absolute;
        margin-top: -30%;
        margin-left: 88%;
        animation: nail3 20s linear infinite;
    }
    @keyframes nail3 {
        0%{top: 0%;}
        100% {top:120%}
        
    }
    
    
    
    .nail4 {
        width: 15%;
        position: absolute;
        margin-top: -25%;
        margin-left: 70%;
        animation: nail4 8s linear infinite;
    }
    
    @keyframes nail4 {
        0%{top: 0%;}
        100% {top:120%}
        
    }
    
    
    
    .nail5 {
        width: 15%;
        position: absolute;
        margin-top: -26%;
        margin-left: -1%;
        animation: nail5 15s linear infinite;
    }
    
    @keyframes nail5 {
        0%{top: 0%;}
        100% {top:120%}
        
    }
    
    
    
    .nail6 {
        width: 15%;
        position: absolute;
        margin-top: -35%;
        margin-left: 2%;
        animation: nail6 25s linear infinite;
    }
    
    @keyframes nail6 {
        0%{top: 0%;}
        100% {top:120%}
        
    }
    
    
    
    .nail7 {
        width: 15%;
        position: absolute;
        margin-top: -22%;
        margin-left: 22%;
        animation: nail7 12s linear infinite;
    }
    
    @keyframes nail7 {
        0%{top: 0%;}
        100% {top:120%}
        
    }
    
    
    
    .nail8 {
        width: 15%;
        position: absolute;
        margin-top: -25%;
        margin-left: 200%;
        animation: nail1 30s linear infinite;
    }
    
    @keyframes nail8 {
        0%{top: 0%;}
        100% {top:120%}
        
    }
    
    
    
    .updiv {
        width: 8%;
        height: 4%;
        position: absolute;
        margin-top: 1%;
        margin-left: 45.5%;
        background-color: rgb(255, 255, 255);
        border-radius: 30px;
    }
    
    .up{
        font-family:"MazzardM";
        font-size: 20px;
        color: black;
        margin-left: 28%;
        margin-top: 5%;
    }
    
    .textsel1 {
        width: 100%;
        height: 70%;
        position: absolute;
    }
    
    .up2{
        font-family:"MazzardM";
        font-size: 35px;
        color: rgb(255, 255, 255);
        margin-left: 6%;
        margin-top: 7%;
    }
    
    .up3{
        font-family:"MazzardM";
        font-size: 35px;
        color: rgb(255, 255, 255);
        margin-left: 62%;
        margin-top: -5%;
    }
    
    .up4{
        font-family:"MazzardM";
        font-size: 35px;
        color: rgb(255, 255, 255);
        margin-left: 8%;
        margin-top: 10%;
    }
    
    .up5{
        font-family:"MazzardM";
        font-size: 35px;
        color: rgb(255, 255, 255);
        margin-left: 22%;
        margin-top: 2%;
    }
    
    .up6{
        font-family:"MazzardM";
        font-size: 35px;
        color: rgb(255, 255, 255);
        margin-left: 60%;
        margin-top: -2%;
    }
    
    .tresh1 {
        width: 20%;
        height: 20%;
        position: absolute;
       /* margin-top: 25.6%;/=*/
        margin-left: 30%;
    
    }
    
    .ch1{
        width: 79%;
        margin-top: 2%;
        position: absolute;
    }
    .ch2{
        width: 79%;
        margin-top: 2%;
        position: absolute;
        z-index: 0;
    }
    
    .ch2:hover{
        opacity: 0;
    }
    
    
    .tresh2 {
        width: 24%;
        height: 20%;
        position: absolute;
       /* margin-top: 21.3%;*/
        margin-left: 10%;
        margin-top: -3.8%;
    }
    
    .ch12{
        width: 80%;
        position: absolute;
    }
    .ch22{
        width: 80%;
        position: absolute;
        z-index: 0;
    }
    
    .ch22:hover{
        opacity: 0;
    }
    
    .tresh3 {
        width: 20%;
        height: 20%;
        position: absolute;
       /* margin-top: 22%;*/
        margin-left: -1%;
        margin-top: -3.5%;
    
    }
    
    .ch13{ 
        width: 88%;

        position: absolute;
    }
    .ch23{
        width: 88%;
        position: absolute;
        z-index: 0;
    }
    
    .ch23:hover{
        opacity: 0;
    }
    
    .tresh4 {
        width: 20%;
        height: 20%;
        position: absolute;
       /* margin-top: 25%;*/
        margin-left: -25%;
    
    }
    
    .ch14{
        width: 20%;
        position: absolute;
    }
    .ch24{
        width: 20%;
        position: absolute;
        z-index: 0;
    }
    
    .ch24:hover{
        opacity: 0;
    }
    
    .tresh5 {
        width: 20%;
        height: 20%;
        position: absolute;
       /* margin-top: 23.8%;*/
        margin-left: 50%;
    
    }
    
    .ch15{
        width: 86%;
        margin-top: -6%;
        position: absolute;
    }
    .ch25{
        width: 86%;
        margin-top: -6%;
        position: absolute;
        z-index: 0;
    }
    
    .ch25:hover{
        opacity: 0;
    }
    
    .tresh6 {
        width: 20%;
        height: 20%;
        position: absolute;
       /* margin-top: 18.7%;*/
        margin-left: 60%;
        margin-top: -6.3%;
    
    }
    
    .ch16{
        width: 193%;
        position: absolute;
    }
    .ch26{
        width: 193%;
        position: absolute;
        z-index: 0;
    }
    
    .ch26:hover{
        opacity: 0;
    }
    
    .tresh7 {
        width: 20%;
        height: 20%;
        position: absolute;
        /*margin-top: 22%;*/
        margin-left: 90%;
        margin-top: -3%;
    
    }
    
    .ch17{
        width: 132%;
        position: absolute;
    }
    .ch27{
        width: 132%;
        position: absolute;
        z-index: 0;
    }
    
    .ch27:hover{
        opacity: 0;
    }
    
    .sec1{
        width: 100%;
        height: 50%;
       position: absolute;
       margin-top: 25%;
       animation: sec11 infinite linear 5s;
    
    }
    
    @keyframes sec11{
        0% {transform:translate(0%)}
        100% {transform:translate(-20%)}
    }
    
    
    
    
    
    .opop{
        width: 100%;
        height: 5.7%;
        position: absolute;
        margin-top: 48%;
        overflow: hidden;
      text-overflow: ellipsis;
    }
    
    .cemestry {
        font-family:"MazzardM";
        font-size: 55px;
        color: rgb(255, 255, 255);
        white-space: nowrap;
        text-transform: uppercase;
    }
    
    .cemestry {
        animation: run 10s linear infinite;
     }
    
     @keyframes run {
        from {
           transform: translateX(0%);
        }
        to {
           transform: translateX(-200%);
        }
    }
    
    .sec2{
    width:70%;
    height: 50%;
    background: #000000;
    margin-top: 53.3%;
    position: absolute;
    animation: sec22 infinite linear 5s;
    
    }
    
    @keyframes sec22{
        0% {transform:translate(0%)}
        100% {transform:translate(-30%)}
    
    }
    
    .sec2:hover {
        animation-play-state: paused;
      }
    
    
    .grob1{
        width: 13%;
        position: absolute;
        margin-top: 8%;
        margin-left: -5%;
    }
    
    .grob1:hover{
        transform: scale(1.3);
        transition: all 1s ease;
    }
    
    .grob2{
        width: 13%;
        position: absolute;
        margin-top: 8%;
        margin-left: 3%;
    }
    
    .grob2:hover{
        transform: scale(1.3);
        transition: all 1s ease;
    }
    
    .grob3{
        width: 13%;
        position: absolute;
        margin-top: 8%;
        margin-left: 11%;
    }
    
    .grob3:hover{
        transform: scale(1.3);
        transition: all 1s ease;
    }
    
    .grob4{
        width: 13%;
        position: absolute;
        margin-top: 8%;
        margin-left: 19%;
    }
    
    .grob4:hover{
        transform: scale(1.3);
        transition: all 1s ease;
    }
    
    .grob5{
        width: 13%;
        position: absolute;
        margin-top: 8%;
        margin-left: 27%;
    }
    
    .grob5:hover{
        transform: scale(1.3);
        transition: all 1s ease;
    }
    
    .grob6{
        width: 13%;
        position: absolute;
        margin-top: 8%;
        margin-left: 35%;
    }
    
    .grob6:hover{
        
        
        transform: scale(1.3);
        transition: all 1s ease;
    }
    
    .grob7{
        width: 13%;
        position: absolute;
        margin-top: 8%;
        margin-left: 43%;
    }
    
    .grob7:hover{
      
        
        transform: scale(1.3);
        transition: all 1s ease;
    }
    
    .grob8{
        width: 13%;
        position: absolute;
        margin-top: 8%;
        margin-left: 51%;
    }
    
    .grob8:hover{
        transform: scale(1.3);
        transition: all 1s ease;
    }
    
    .grob9{
        width: 13%;
        position: absolute;
        margin-top: 8%;
        margin-left: 59%;
    }
    
    .grob9:hover{
        transform: scale(1.3);
        transition: all 1s ease;
    }
    
    .grob10{
        width: 13%;
        position: absolute;
        margin-top: 8%;
        margin-left: 67%;
    }
    
    .grob10:hover{
        transform: scale(1.3);
        transition: all 1s ease;
    }
    
    .grob11{
        width: 13%;
        position: absolute;
        margin-top: 8%;
        margin-left: 75%;
    }
    
    .grob11:hover{
        transform: scale(1.3);
        transition: all 1s ease;
    }
    
    .grob12{
        width: 13%;
        position: absolute;
        margin-top: 8%;
        margin-left: 83%;
    }
    
    .grob12:hover{
        transform: scale(1.3);
        transition: all 1s ease;
    }
    
    
    .grob13{
        width: 13%;
        position: absolute;
        margin-top: 8%;
        margin-left: 92%;
    }
    
    .grob13:hover{
        transform: scale(1.3);
        transition: all 1s ease;
    }
    
    .grob14{
        width: 13%;
        position: absolute;
        margin-top: 8%;
        margin-left: 100%;
    }
    
    .grob14:hover{
        transform: scale(1.3);
        transition: all 1s ease;
    }
    .grob15{
        width: 13%;
        position: absolute;
        margin-top: 8%;
        margin-left: 108%;
    }
    
    .grob15:hover{
        transform: scale(1.3);
        transition: all 1s ease;
    }
    
    
    
    
    
    
    
    .kish1{
        width: 85%;
        position: absolute;
        z-index: 1;
    }
    
    .kish2{
        width: 85%;
        position: absolute;
        z-index: 2;
    }
    
    .kish2:hover{
        opacity: 0;
    }
    
    .fly1{
        width: 50%;
        position: absolute;
        margin-top: -20%;
        z-index: 3;
        animation: bybyby 10s infinite;
    }
    @keyframes bybyby{
    
            0%{transform: translateX(6vw); rotate: 0deg ;}
            10%{transform: translateX(10vw); rotate: 15deg ;}
            20%{transform: translateY(12vw); rotate: 30deg ;}
            35%{transform: translateX(20vw); rotate: 60deg;}
            45%{transform: translateX(10vw); rotate: 70deg ;}
            75%{transform: translateY(-30vw); rotate: 80deg ;}
            90%{transform: translateX(10vw); rotate: 70deg ;}
            100%{transform: translateX(10vw); rotate: 90deg;}
        
    }
    
    .sec3{
        width: 58%;
        height: 50%;
        
        position: absolute;
        margin-top: 53.3%;
        margin-left: 47%;
        overflow: hidden;
    }
    
    .svetla{
        height: 50%;
        width: 20%;
        background: #000000;
        position: absolute;
        margin-top: 53.5%;
        margin-left: 85%;
        overflow: hidden;
        text-overflow: ellipsis;
    
    }
    
    
    .text1{
        font-family:"MazzardM";
        font-size: 64px;
        color: rgb(255, 255, 255);
        white-space: nowrap;
    }
    
    .text1 {
        animation: run1 2s linear infinite;
     }
    
     @keyframes run1 {
        from {
           transform: translateX(0%);
        }
        to {
           transform: translateX(-200%);
        }
    }
    
    
.eb{
    
    transform: rotate(90deg);
    margin-left: 30%;

}
.sec4{
    height: 55%;
    width: 25%;
    position: absolute;
    margin-top: 112%;
   margin-left: -5%;
    background: #ffffff;
    animation: flw 2s steps(1) infinite; 
} 
.sec4 img{ 
    width: 880%; 
} 
@keyframes flw { 
    0%{transform: translateX(0vw);} 
    20%{transform: translateX(-42.3vw);} 
    40%{transform: translateX(-74.6vw);} 
    60%{transform: translateX(-106.9vw);} 
    80%{transform: translateX(-138.2vw);} 
    100%{transform: translateX(-170.5vw);} 
}



.srift{
    height: 62%;
    width: 55%;
    position: relative;
    margin-top: 20%;
    margin-left: 12%;
}


.treshs{
    width: 100%;
    height: 50%;
    background: #000000;
    position: absolute;
    margin-top: 83.3%;
    overflow: hidden;
}



.stuk1{
    width: 10%;
    position: absolute;
    z-index: 1;
}

.stuk2{
    position: absolute;
    margin-top: 5%;
    margin-left: 70%;
    z-index: 2;
}
.stuk3{
    position: absolute;
    margin-top: 5%;
    margin-left: 85%;
    z-index: 3;
}

.stuk4{
    width: 30%;
    position: absolute;
    margin-top: 5%;
    z-index: 4;
}

.stuk5{
    width: 30%;
    position: absolute;
    margin-top: 5%;
    margin-left: 40%;
    z-index: 5;
}

.stuk6{
    width: 20%;
    position: absolute;
    margin-top: -20%;
    margin-left: 5%;
    z-index: 6;
    animation: stuk6 5s linear infinite;
}
@keyframes stuk6 {
    0%{top: 0%;}
    100% {top:200%}
    
}

.stuk7{
    width: 30%;
    position: absolute;
    margin-top: -20%;
    margin-left: 25%;
    z-index: 7;
    animation: stuk7 20s linear infinite;
}
@keyframes stuk7 {
    0%{top: 0%;}
    100% {top:200%}
    
}
.stuk8{
    width: 30%;
    position: absolute;
    margin-top: -20%;
    margin-left: 15%;
    z-index: 8;
    animation: stuk8 15s linear infinite;
}
@keyframes stuk8 {
    0%{top: 0%;}
    100% {top:200%}
    
}

.stuk9{
    width: 30%;
    position: absolute;
    margin-top: -20%;
    margin-left: 70%;
    z-index: 9;
    animation: stuk8 15s linear infinite;
}
@keyframes stuk9 {
    0%{top: 0%;}
    100% {top:200%}
    
}


.stuk10{
    position: absolute;
    margin-top: 19%;
    margin-left: 5%;
    z-index: 10;
}

.stuk11{
    position: absolute;
    margin-top: 14%;
    margin-left: 65%;
    z-index: 11;
}


.stuk12{
    width: 30%;
    position: absolute;
    margin-top: 10%;
    margin-left: 70%;
    z-index: 11;
}





    .sec5{
        height: 59%;
        width: 35%;
        position: absolute;
        margin-top: 113%;
       margin-left: 25%;
       background: #000000;
       overflow: hidden;
    }

.top1{
    width: 50%;
    height: 8%;
    background: #FF0000;
    position: absolute;
    border-radius: 40px;
    margin-top: -2%;
    margin-left: 20%;
    animation: one 3s infinite cubic-bezier(0.5,0,0.5,1);
}

@keyframes one {
  0%, 5% {
    transform: translate(-5em);
  }
  45%, 55% {
    transform: translate(5em);
  }
  95%, 100% {
    transform: translate(-5em);
  }
}


.top2{
    width: 70%;
    height: 8%;
    background: #FF0000;
    position: absolute;
    border-radius: 40px;
    margin-top: 5.4%;
    margin-left: 5%;
    animation: two 1s infinite cubic-bezier(0.5,0,0.5,1);
}

@keyframes two {
  0%, 5% {
    transform: translate(-10em);
  }
  45%, 55% {
    transform: translate(10em);
  }
  95%, 100% {
    transform: translate(-10em);
  }
}

.tt1{
    font-family:"MazzardM";
    font-size: 48px;
    color: rgb(255, 255, 255);
    margin-top: 4%;
    margin-left: 80%;
}

.top3{
    width: 50%;
    height: 8%;
    background: #FF0000;
    position: absolute;
    border-radius: 40px;
    margin-top: -0.2%;
    margin-left: -5%;
    animation: three 5s infinite cubic-bezier(0.5,0,0.5,1);
}

@keyframes three {
  0%, 5% {
    transform: translate(-10em);
  }
  45%, 55% {
    transform: translate(10em);
  }
  95%, 100% {
    transform: translate(-10em);
  }
}
.tt2{
    font-family:"MazzardM";
    font-size: 48px;
    color: rgb(255, 255, 255);
    margin-top: -1%;
    margin-left: 50%;
}

.top4{
    width: 50%;
    height: 8%;
    background: #FF0000;
    position: absolute;
    border-radius: 40px;
    margin-top: -0.9%;
    margin-left: 60%;
    animation: four 1s infinite cubic-bezier(0.5,0,0.5,1);
}

@keyframes four {
  0%, 5% {
    transform: translate(-10em);
  }
  45%, 55% {
    transform: translate(10em);
  }
  95%, 100% {
    transform: translate(-10em);
  }
}

.tt3{
    font-family:"MazzardM";
    font-size: 48px;
    color: rgb(255, 255, 255);
    margin-top: -1%;
    margin-left: 1%;
}

.top5{
    width: 50%;
    height: 8%;
    background: #FF0000;
    position: absolute;
    border-radius: 40px;
    margin-top: -0.2%;
    margin-left: -5%;
}

.tt4{
    font-family:"MazzardM";
    font-size: 48px;
    color: rgb(255, 255, 255);
    margin-top: -2%;
    margin-left: 50%;
}

.top6{
    width: 50%;
    height: 9.5%;
    background: #FF0000;
    position: absolute;
    border-radius: 40px;
    margin-top: -9%;
    margin-left: 70%;
    animation: two 3s infinite cubic-bezier(0.5,0,0.5,1);
}

@keyframes two {
  0%, 5% {
    transform: translate(-10em);
  }
  45%, 55% {
    transform: translate(10em);
  }
  95%, 100% {
    transform: translate(-10em);
  }
}
.top7{
    width: 60%;
    height: 8%;
    background: #FF0000;
    position: absolute;
    border-radius: 40px;
    margin-top: -0.1%;
    margin-left: 10%;
    animation: five 8s infinite cubic-bezier(0.5,0,0.5,1);
}

@keyframes five {
  0%, 5% {
    transform: translate(-10em);
  }
  45%, 55% {
    transform: translate(10em);
  }
  95%, 100% {
    transform: translate(-10em);
  }
}

.tt5{
    font-family:"MazzardM";
    font-size: 48px;
    color: rgb(255, 255, 255);
    margin-top: 6%;
    margin-left: 1%;
}

.top8{
    width: 60%;
    height: 8%;
    background: #FF0000;
    position: absolute;
    border-radius: 40px;
    margin-top: 7%;
    margin-left: 30%;
    animation: six 1s infinite cubic-bezier(0.5,0,0.5,1);
}

@keyframes six {
  0%, 5% {
    transform: translate(-10em);
  }
  45%, 55% {
    transform: translate(10em);
  }
  95%, 100% {
    transform: translate(-10em);
  }
}

.top9{
    width: 50%;
    height: 8%;
    background: #FF0000;
    position: absolute;
    border-radius: 40px;
    margin-top: -1%;
    margin-left: -5%;
    animation: seven 3s infinite cubic-bezier(0.5,0,0.5,1);
}

@keyframes seven {
  0%, 5% {
    transform: translate(-10em);
  }
  45%, 55% {
    transform: translate(10em);
  }
  95%, 100% {
    transform: translate(-10em);
  }
}

.tt6{
    font-family:"MazzardM";
    font-size: 48px;
    color: rgb(255, 255, 255);
    margin-top: -1.5%;
    margin-left: 50%;
}
.top10{
    width: 50%;
    height: 8%;
    background: #FF0000;
    position: absolute;
    border-radius: 40px;
    margin-top: -1%;
    margin-left: -30%;
    animation: Eight 1s infinite cubic-bezier(0.5,0,0.5,1);
}

@keyframes Eight {
  0%, 5% {
    transform: translate(-10em);
  }
  45%, 55% {
    transform: translate(10em);
  }
  95%, 100% {
    transform: translate(-10em);
  }
}
.tt7{
    font-family:"MazzardM";
    font-size: 48px;
    color: rgb(255, 255, 255);
    margin-top: -2%;
    margin-left: 25%;
}

.top11{
    width: 50%;
    height: 8%;
    background: #FF0000;
    position: absolute;
    border-radius: 40px;
    margin-top: -7%;
    margin-left: 75%;
}

.tt8{
    font-family:"MazzardM";
    font-size: 48px;
    color: rgb(255, 255, 255);
    margin-top: -2%;
    margin-left: 1%;
}

.top12{
    width: 50%;
    height: 8.5%;
    background: #FF0000;
    position: absolute;
    border-radius: 40px;
    margin-top: -7%;
    margin-left: 65%;
    animation: nine 5s infinite cubic-bezier(0.5,0,0.5,1);
}

@keyframes nine {
  0%, 5% {
    transform: translate(-10em);
  }
  45%, 55% {
    transform: translate(10em);
  }
  95%, 100% {
    transform: translate(-10em);
  }
}
.top13{
    width: 70%;
    height: 8%;
    background: #FF0000;
    position: absolute;
    border-radius: 40px;
    margin-top: 1%;
    margin-left: -10%;
    animation: ten 5s infinite cubic-bezier(0.5,0,0.5,1);
}

@keyframes ten {
  0%, 5% {
    transform: translate(-15em);
  }
  45%, 55% {
    transform: translate(15em);
  }
  95%, 100% {
    transform: translate(-15em);
  }
}

.tt9{
    font-family:"MazzardM";
    font-size: 48px;
    color: rgb(255, 255, 255);
    margin-top: -0.5%;
    margin-left: 63%;
}

.top14{
    width: 50%;
    height: 8%;
    background: #FF0000;
    position: absolute;
    border-radius: 40px;
    margin-top: -0.2%;
    margin-left: -10%;
    animation: eleven 1s infinite cubic-bezier(0.5,0,0.5,1);
}

@keyframes eleven {
  0%, 5% {
    transform: translate(-10em);
  }
  45%, 55% {
    transform: translate(10em);
  }
  95%, 100% {
    transform: translate(-10em);
  }
}
.tt10{
    font-family:"MazzardM";
    font-size: 48px;
    color: rgb(255, 255, 255);
    margin-top: -0.9%;
    margin-left: 45%;
}

.top15{
    width: 50%;
    height: 8%;
    background: #FF0000;
    position: absolute;
    border-radius: 40px;
    margin-top: -9%;
    margin-left: 70%;
}

.top16{
    width: 70%;
    height: 9%;
    background: #FF0000;
    position: absolute;
    border-radius: 40px;
    margin-top: -2%;
    margin-left: 5%;
    animation: twelve 10s infinite cubic-bezier(0.5,0,0.5,1);
}

@keyframes twelve {
  0%, 5% {
    transform: translate(-10em);
  }
  45%, 55% {
    transform: translate(10em);
  }
  95%, 100% {
    transform: translate(-10em);
  }
}

.sec6{
    height: 76%;
    width: 40%;
    position: absolute;
    margin-top: 102.9%;
   margin-left: 60%;
   background: #000000;
   overflow: hidden;
}

.gif{
    width: 130%;
    height: 100%;
}

.sec7{
    width: 100%;
    height: 140%;
    background: #E4E4E4;
    position: absolute;
    margin-top: 130%;
    overflow: hidden;

}

.nail11 {
    position: absolute;
    margin-top: -26%;
    margin-left: -1%;
    animation: nail11 15s linear infinite;
}

@keyframes nail11 {
    0%{top: 0%;}
    100% {top:120%}
    
}

.nail21 {
    position: absolute;
    margin-top: -26%;
    margin-left: 30%;
    animation: nail21 5s linear infinite;
}

@keyframes nail21 {
    0%{top: 0%;}
    100% {top:120%}
    
}

.nail31 {
    position: absolute;
    margin-top: -36%;
    margin-left: -1%;
    animation: nail31 15s linear infinite;
}

@keyframes nail31 {
    0%{top: 0%;}
    100% {top:120%}
    
}

.nail41 {
    position: absolute;
    margin-top: -46%;
    margin-left: 70%;
    animation: nail41 5s linear infinite;
}

@keyframes nail41 {
    0%{top: 0%;}
    100% {top:120%}
    
}

.nail51 {
    position: absolute;
    margin-top: -36%;
    margin-left: 10%;
    animation: nail51 5s linear infinite;
}

@keyframes nail51 {
    0%{top: 0%;}
    100% {top:120%}
    
}

.nail61 {
    position: absolute;
    margin-top: -46%;
    margin-left: 50%;
    animation: nail61 8s linear infinite;
}

@keyframes nail61 {
    0%{top: 0%;}
    100% {top:120%}
    
}

.nail71 {
    position: absolute;
    margin-top: -46%;
    margin-left: 90%;
    animation: nail71 5s linear infinite;
}

@keyframes nail71 {
    0%{top: 0%;}
    100% {top:120%}
    
}

.pomni{
    font-family: "eroticascriptctwo";
font-size: 350px;
color: #FF0000;
}

.fifa{
    position: absolute;
    margin-left: -10%;
    margin-top: 10%;
}

.vce{
    font-family: "eroticascriptctwo";
font-size: 500px;
color: #FF0000;
}

.fifa2{
    position: absolute;
    margin-left: 10%;
    margin-top: -10%;
}


    
}


/* От 769px до 1440px */
@media screen and (min-width: 769px) and (max-width: 1440px) and (orientation: landscape) {
    
}



@media screen and (min-width: 415px) and (max-width: 768px) and (orientation: portrait) {
    /* Вертикальная ориентация */
}

/* Максимум 414px */


@media screen and (max-width: 414px) and (orientation: portrait) {
    /* Вертикальная ориентация */
}

@media screen and (max-width: 360px) and (orientation: portrait) {
    /* Вертикальная ориентация */
}