@font-face {
    font-family: "eroticascriptctwo";
    src:url("../fonts/eroticascriptctwo.ttf");
    font-style: normal;
    font-weight: normal;
}



@font-face {
    font-family: "MazzardM";
    src:url("../fonts/MazzardM-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

